/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.deps.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.exe
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.pdb
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.runtimeconfig.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.staticwebassets.endpoints.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.staticwebassets.runtime.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/appsettings.Development.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/appsettings.json
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.dgspec.json
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.g.props
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.g.targets
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/ApiEndpoints.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.AssemblyInfo.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.AssemblyInfoInputs.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.GeneratedMSBuildEditorConfig.editorconfig
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.GlobalUsings.g.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.MvcApplicationPartsAssemblyInfo.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.assets.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.BuildWithSkipAnalyzers
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.CoreCompileInputs.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.FileListAbsolute.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.genruntimeconfig.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.pdb
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.sourcelink.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/apphost.exe
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/ref/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/refint/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjimswa.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rpswa.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/bundle/Blazor_Web_App.styles.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/projectbundle/Blazor_Web_App.bundle.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.json.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.development.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.removed.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/swae.build.ex.cache
/Blazor_Web_App/Blazor_Web_App/obj/project.assets.json
/Blazor_Web_App/Blazor_Web_App/obj/project.nuget.cache
