/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.deps.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.exe
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.pdb
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.runtimeconfig.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.staticwebassets.endpoints.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/Blazor_Web_App.staticwebassets.runtime.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/appsettings.Development.json
/Blazor_Web_App/Blazor_Web_App/bin/Debug/net8.0/appsettings.json
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.dgspec.json
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.g.props
/Blazor_Web_App/Blazor_Web_App/obj/Blazor_Web_App.csproj.nuget.g.targets
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/ApiEndpoints.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.AssemblyInfo.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.AssemblyInfoInputs.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.GeneratedMSBuildEditorConfig.editorconfig
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.GlobalUsings.g.cs
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.MvcApplicationPartsAssemblyInfo.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.assets.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.BuildWithSkipAnalyzers
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.CoreCompileInputs.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.csproj.FileListAbsolute.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.genruntimeconfig.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.pdb
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/Blazor_Web_App.sourcelink.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/apphost.exe
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/ref/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/refint/Blazor_Web_App.dll
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjimswa.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/rpswa.dswa.cache.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/Components/Layout/NavMenu.razor.rz.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/bundle/Blazor_Web_App.styles.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/scopedcss/projectbundle/Blazor_Web_App.bundle.scp.css
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.build.json.cache
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.development.json
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.removed.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/Blazor_Web_App/Blazor_Web_App/obj/Debug/net8.0/swae.build.ex.cache
/Blazor_Web_App/Blazor_Web_App/obj/project.assets.json
/Blazor_Web_App/Blazor_Web_App/obj/project.nuget.cache
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/CodeChunks.db
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
/Blazor_Web_App/.vs/Blazor_Web_App/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/Blazor_Web_App/.vs/Blazor_Web_App/DesignTimeBuild/.dtbcache.v2
/Blazor_Web_App/.vs/Blazor_Web_App/FileContentIndex/5185d1b8-2448-4f9f-bbd5-f92beb5a02f5.vsidx
/Blazor_Web_App/.vs/Blazor_Web_App/FileContentIndex/5c767626-7772-4754-b7fa-d7631fe9daa0.vsidx
/Blazor_Web_App/.vs/Blazor_Web_App/FileContentIndex/79b3906e-8d99-4fd7-bfe3-21a8fedcc2e3.vsidx
/Blazor_Web_App/.vs/Blazor_Web_App/FileContentIndex/b966c60f-2a75-41f9-8c3d-2526034404aa.vsidx
/Blazor_Web_App/.vs/Blazor_Web_App/FileContentIndex/be0aded9-77c5-4443-a7a8-d4927ad88349.vsidx
/Blazor_Web_App/.vs/Blazor_Web_App/config/applicationhost.config
/Blazor_Web_App/.vs/Blazor_Web_App/v17/.suo
/Blazor_Web_App/.vs/Blazor_Web_App/v17/DocumentLayout.backup.json
/Blazor_Web_App/.vs/Blazor_Web_App/v17/DocumentLayout.json
